
.container {
  display: flex;
  flex-direction: row;

  .title {
    position: absolute;
    margin: 1rem 2rem;
    color: black;
  }
}

.navigation {
  width: 20%;
  height: 100vh;
  padding: 5rem 2rem;
  background-color: rgb(82, 82, 82);
}

.content {
  background-color: rgb(233, 233, 233);
  color: black;
  width : 70%;
  height: 100vh;
  padding: 5rem 1rem;
}
